@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$light-red: #fdabab;
$light-green: #c8edeb;
$light-blue: #cee3f6;
$light-gray: #dbdee1;

$dark-purple: #232331;
$dark-teal: #232a31;
$dark-blue: #2d3748;
$dark-gray: #222529;

$marigold: rgb(255, 165, 0);

$default-left-margin: 10%;

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    color: $light-gray;
    font-family: "Roboto", sans-serif;
    background-color: $dark-purple;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba($light-gray, 0.1) 70%, rgba($light-gray, 0.2));
}

button,
.button {
    background-color: mix($dark-purple, $light-gray, 70%);
    background-image: linear-gradient(180deg, rgba($marigold, 0.9), rgba($marigold, 0.6));
    // background-image: linear-gradient(180deg, rgba($marigold, 1), rgba($marigold, .4));

    height: 40px;
    width: min(200px, 25vw);

    border: groove min(3px, 1vw) mix($dark-purple, whitesmoke, 20%);
    border-radius: 0.2em;

    color: mix($dark-purple, white, 5%);
    text-align: center;
    font-weight: bold;
    font-size: min(18px, max(2.1vw, 2.1vh));

    // padding: 0.25em 0.35em;
    margin: 1em 1em;

    &:hover {
        background-image: linear-gradient(180deg, rgba($marigold, 0.5), rgba($marigold, 0.06));
    }
}

.background {
    width: 50%;
    background: #ffffff;
    color: #000000;
    left: 25%;
    position: relative;
    box-sizing: border-box;
    padding: 60px 30px;
    font-family: system-ui;
    text-align: left;
    margin-top: 100px;

    > h1 {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }

    & label {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    & .textbox {
        border: none;
        border: 1px solid #000000;
        background: transparent;
        outline: none;
        height: 40px;
        color: #000000;
        font-size: 16px;
    }

    & button,
    & .button {
        border: none;
        height: min(40px, 10vh);
        background: #000000;
        color: #ffffff;
        font-size: min(18px, max(2vw, 2vh));
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 0;
    }

    .secondaryButton {
        border: none;
        height: min(33px, 10vh);
        color: #ffffff;
        font-size: min(16px, max(1.8vw, 1.8vh));
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 0;

        width: 9em;
        font-weight: 500;
        background-color: rgb(97, 97, 97);
        border-radius: 20px;
    }

    & input {
        // width: 100%;
        margin-bottom: 10px;

        &[type="name"],
        &[type="email"],
        &[type="password"],
        &[type="text"] {
            width: 30vw;
            text-align: left;
            border: none;
            border-bottom: 1px solid #000000;
            background: transparent;
            outline: none;
            height: 40px;
            color: #000000;
            font-size: 16px;
        }

        &[type="button"] {
            border: none;
            outline: none;
            height: 40px;
            background: #000000;
            color: #ffffff;
            font-size: 18px;
            border-radius: 20px;
            margin-top: 20px;
            margin-left: 0;
        }
    }

    & a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
        &:hover {
            color: #000000;
        }
    }
}

#navDiv {
    overflow-x: auto;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    padding: 0px 10px 0px 10px;
    background-color: $dark-gray;
    box-sizing: border-box;
    font-size: 100%;
}

$navbar-height: 50px;

#navSpacing {
    height: $navbar-height;
    max-width: 100vw;
    font-size: min(18px, max(2vh, 2vw));
    padding-top: min(20px, 3vh);
    padding-bottom: min(20px, 3vh);
}

#navspace {
    // margin-bottom: max($navbar-height, 10vh);
    margin-bottom: $navbar-height;
}
