@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$light-red: #fdabab;
$light-green: #c8edeb;
$light-blue: #cee3f6;
$light-gray: #dbdee1;

$dark-purple: #232331;
$dark-teal: #232a31;
$dark-blue: #2d3748;
$dark-gray: #222529;

$marigold: rgb(255, 165, 0);

$default-left-margin: 10%;

body {
    min-height: 100vh;
    color: $light-gray;
    font-family: "Roboto", sans-serif;
    background-color: $dark-purple;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba($light-gray, .1) 70%, rgba($light-gray, .2));
}

button {

    color: $dark-purple;
    background-color: $dark-purple;
    background-image: linear-gradient(0deg, rgba($marigold, .7), $marigold 60%);
    border: 0px;
    height: 50px;
    width: 200px;

    color: $dark-purple;
    background-color: $marigold;
    border: 0px;
    text-align: center;

    font-weight: bold;

    $x: 0.35em;
    $y: 0.25em;
    padding: $y $x $y $x;

    $x: 1em;
    $y: 1em;
    margin: $y $x $y $x;

    &:hover {
        background-color: $light-blue;
    }
}

.textBox {
    height: auto;

    $x: 0.35em;
    $y: 0.25em;
    padding: $x $y $x $y;

    $x: 1em;
    $y: 0.5em;
    margin: $x $y $x $y;
}

$navbar-height: 50px;

#nav {
    overflow-x: auto;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    padding: 0px 10px 0px 10px;
    background-color: $dark-gray;
    box-sizing: border-box;
    font-size: 100%;
}

#navspace {
    margin-bottom:$navbar-height;
}