@import "./_global.scss";


.container{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.text {
    flex: 1;
}

.image {

    flex: 1;
}

img{
    width: 100%;
}

p {
    text-align: left;
}

