@import "./_global.scss";

h2{
    text-align: center;
}

.container{
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    width: 100%;
}

.text {
    flex: 1;

}

.image {

    flex: 1;
}

img{
    width: 100%;
}

.icons{
    padding: 50px;
    display:flex;
    justify-content: center;
    //flex-direction: row;
    //width: 100%;
}

.create{
    text-align: center;
    flex: 0.18;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
}

.invite{
    text-align: center;
    flex: 0.18;
    border: 2px solid white;
    margin: 20px;
    padding: 10px;
}

.collect{
    text-align: center;
    flex: 0.18;
    border: 2px solid whitesmoke;
    margin: 20px;
    padding: 10px;
}

.celebrate{
    text-align: center;
    flex: 0.18;
    border: 2px solid whitesmoke;
    margin: 20px;
    padding: 10px;
}

.text p {
    text-align: left;
}

