@import "./_global.scss";

.container{
    margin: 0px;
    display:flex;
    flex-direction: row;
    width: 100%
}

.text {
    flex: 0.2;
    background-color: lightseagreen;
}

.image {

    flex: 1;
}

img{
    width: 100%;
}

p {
    text-align: left;
}

