@import './_global.scss';

.questionDiv {
    width: 100%;
}

.left {
    display: inline-block;
    width: 70%;
    margin-right: 1px;
    
    input {
        &[type="text"] {
            overflow-x: auto;
            width: 100%;
        }
    }
}

.right {
    display: inline-block;
    text-align: left;
    width: 22%;
    color: red;
    margin-left: 1px;
}

#buttons {
    text-align: center;
}