@import "./_global.scss";

.infoDiv {
    margin: 10px max(30px, 30%) 10px max(30px, 30%);
}

#allInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventName {
    font-size: 2em;
    font-weight: 600;
}

#outerEventCoverPhotoDiv {
    & #eventCoverPhoto {
        margin-left: 50%;
        transform: translateX(-50%);
        width: max(150px, 70%);
        img {
            width: 100%;
        }
    }
}

#eventDetails {
    width: max(150px, 50%);
}
