@import "./_global.scss";


.infoDiv {
    margin: 10px max(30px, 30%) 10px max(30px, 30%);
}

#allInfoDiv {
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventName {
    width: 75%;
    margin-left: 50%;
    font-size: 2em;
    font-weight: 600;
}

#outerEventCoverPhotoDiv {
    text-align: center;
    & #eventCoverPhoto {
        margin-left: 50%;
        transform: translateX(-50%);
        width: max(100px, 70%);
        img {
            width: 100%;
        }
    }
}

#eventDetails {
    width: 75%;
}
