@import "./_global.scss";


.infoDiv {
    margin-top: 2vh;
    text-align: center;
}

#outerEventCoverPhotoDiv {
    text-align: center;
    & #eventCoverPhoto {
        margin-left: 50%;
        transform: translateX(-50%);
        width: max(100px, 70%);
        img {
            width: 100%;
        }
    }
}
