@import './_global.scss';


h1 {
    font-size: min(30px, max(3.3vw,3.3vh);
}

p {
    font-size: 2vw;
}

.leadingText {
    text-align: center;
}

.fullscreenDiv {
    height: 100vh;
    padding-top: 15%;
}

.buttonDiv {
    margin-top: 10vh;
    text-align: center;
    top: 1vh;
}

.introTextContainer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    text-align: center;
    max-width: 100%;
    border: 1vw solid whitesmoke;
    padding: 3vh;
}

#introDiv {
    background-image: url("https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

