@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  color: #dbdee1;
  font-family: "Roboto", sans-serif;
  background-color: #232331;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(219, 222, 225, 0.1) 70%, rgba(219, 222, 225, 0.2));
}

button,
.button {
  background-color: #5a5b66;
  background-image: linear-gradient(180deg, rgba(255, 165, 0, 0.6), rgba(255, 165, 0, 0.3));
  height: 40px;
  width: 200px;
  border: groove 1px #d3d3d6;
  border-radius: 0.2em;
  color: #f4f4f5;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.25em 0.35em;
  margin: 1em 1em;
}
button:hover,
.button:hover {
  background-image: linear-gradient(180deg, rgba(255, 165, 0, 0.4), rgba(255, 165, 0, 0.05));
}

.background {
  width: 320px;
  background: #ffffff;
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 30px;
  font-family: system-ui;
  text-align: left;
}
.background > h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.background label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.background .textbox {
  border: none;
  border: 1px solid #000000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000000;
  font-size: 16px;
}
.background button, .background .button {
  border: none;
  outline: none;
  height: 40px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
}
.background input {
  margin-bottom: 10px;
}
.background input[type=name], .background input[type=email], .background input[type=password], .background input[type=text] {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000000;
  font-size: 16px;
}
.background input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 0;
}
.background a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
.background a:hover {
  color: #000000;
}

#nav {
  overflow-x: auto;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  padding: 0px 10px 0px 10px;
  background-color: #222529;
  box-sizing: border-box;
  font-size: 100%;
}

#navspace {
  margin-bottom: 50px;
}

* {
  text-align: center;
}

#inputContainer {
  width: auto;
}

#captcha {
  margin-top: 30px;
  height: 100px;
}

#refreshButton {
  width: 9em;
  background-color: rgb(97, 97, 97);
  height: 1.7em;
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0.1em;
}

#confirmButton {
  visibility: hidden;
}

#captchaTextBox {
  font-size: 1.1rem;
}

#incorrect {
  border-radius: 5px;
  padding: 0.2em;
  background-color: black;
  color: #ff0000;
  font-size: 1.2rem;
}

#correct {
  border-radius: 5px;
  padding: 0.2em;
  background-color: black;
  color: #7fff00;
  font-size: 1.2rem;
}/*# sourceMappingURL=rsvp.css.map */