@import "./_global.scss";

* {
    text-align: center;
}

#inputContainer {
    width: auto;
}

#captcha {
}

#captchaTextBox {
    // height: 3rem;
    // width: 80%;
    font-size: 1.1rem;
}

$outputFontSize: 1.2rem;

#incorrect {
    border-radius: 5px;
    padding: 0.2em;
    background-color: black;
    color: #ff0000;
    font-size: $outputFontSize;
}

#correct {
    border-radius: 5px;
    padding: 0.2em;
    background-color: black;
    color: #7fff00;
    font-size: $outputFontSize;
}
