@import "./_global.scss";

* {
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBox {
    width: 16vh;
    font-size: 14px;
}

#captcha {
    margin: 0;
}

#captchaBackground {
    height: 250px;
    width: 250px;
    background-color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
}

$outputFontSize: 18px;

#incorrect {
    color: #ff0000;
    font-size: $outputFontSize;
}

#correct {
    color: #7fff00;
    font-size: $outputFontSize;
}

#captchaTextBox {
    height: 25px;
    width: 18vh;
    font-size: 18pt;
    margin: 0;
}
