@import './_global.scss';

img {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    transform: translateX(5%);
}

a {
    color: inherit;
    text-decoration: none;
    $radius : 5px;
    border-radius: $radius;
    div {
        height: 100%;
        border-radius: $radius;
        &:hover {
            background-color: rgb(76, 74, 95);
            color: goldenrod;
        }
    }
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.userEvent {
    margin: 5px;
    background-color: rgba($light-gray, .1);
    width: 300px;
}

.photoDiv {
    width: 90%;
    height: 80%;
    img {
        height: 80%;
    }
}

.eventNameDiv {
    margin-top: 2%;
    height: 17%;
    font-size: auto;
}

.eventName {
    // margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

#userEventsDiv {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
